<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601141764282-qqbbac0tb5udsa6nfcov4aufnqf9e6i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601141764282-qqbbac0tb5udsa6nfcov4aufnqf9e6i9</string>
	<key>API_KEY</key>
	<string>AIzaSyCMz6O8ASKLrN5JDJit6UaXpP09tt-sp1U</string>
	<key>GCM_SENDER_ID</key>
	<string>601141764282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamesecowell.bobble-ios</string>
	<key>PROJECT_ID</key>
	<string>bobble-6d2d1</string>
	<key>STORAGE_BUCKET</key>
	<string>bobble-6d2d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601141764282:ios:d34f4cc2f50d8f0fcbe283</string>
	<key>DATABASE_URL</key>
	<string>https://bobble-6d2d1.firebaseio.com</string>
</dict>
</plist>